<h1> Password Management </h1>
<br>
<table>
  <thead>
    <tr>
      <th>Roles | </th>
      <th>Password | </th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.try(:each) do |user| %>
      <tr>
        <td><%= user.role %></td> 
        <td><%= user.encrypted_password %></td>
        <td><%= link_to 'Edit', password_management_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
