<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tag.tag_name %>
</p>

<%# tag.content_tags.each do |content_tag| %>
    <h2>#Page:</h2>
    <%=# render 'pages/page', page: content_tag.page_id %>
    <%=# link_to "Go To Page", content_tag.page_id %>